{:simulator {}
 :dht {:curator {:num-threads 8
                 :executor {}}
       :max-hops 15
       :request-timeout 2000
       :contacts {:ping {:period 5000
                         :timeout 4000}
                  :stabilization {:period 8000
                                  :exponent-step-factor 1.03}}
       :storage {:max-ttl 3600000
                 :default-ttl 600000
                 :expired-cleanup-period 1000}
       :trie {:upcast-period 4000
              :node-ttl 15000
              :expired-cleanup-period 1000}}
 :node {:num-threads 8
        :executor {}
        :transport {:tcp {:user-timeout 1000
                          :no-delay false}
                    :ping-period 2000
                    :events-buffer-size 1000
                    :connection-buffer-size 100}
        :soft-mailbox-size 100
        :hard-mailbox-size 1000}
 :paxos {:election-pause 4000
         :round-pause [1000 2500]
         :request-timeout 1000}
 :db {:worker-amount 8
      :key-spaces {:foo {:storage :persistent-in-memory
                         :source "resources/db/foo"
                         :create? true
                         :options {:keys-history 100
                                   :value-history 20
                                   :log-write-period 100
                                   :log-compaction-size 104857600}}
                   :bar {:storage :persistent
                         :source "resources/db/bar"
                         :create? true
                         :options {:key-page-size 128
                                   :value-page-size 512
                                   :write-period 1000
                                   :working-set-capactity 1000
                                   :eviction-period 1000}}
                   :baz {:storage :replicated
                         :source "resources/db/baz"
                         :create? true
                         :options {:label "binary-star"
                                   :max-queue-size 200
                                   :max-replication-lag 300000
                                   :initial-pull-timeout 3000
                                   :pull-timeout 1000
                                   :replication-period 500
                                   :keys-history 100
                                   :value-history 20
                                   :log-write-period 100
                                   :log-compaction-size 104857600}}
                   :qux {:storage :replicated
                         :source "resources/db/qux"
                         :create? true
                         :options {:label "binary-star"
                                   :max-queue-size 200
                                   :initial-pull-timeout 3000
                                   :pull-timeout 1000
                                   :replication-period 500
                                   :max-replication-lag 300000
                                   :keys-history 100
                                   :value-history 20
                                   :log-write-period 100
                                   :log-compaction-size 104857600}}}

      :coordinator {:election-pause 4000
                    :round-pause [1000 2500]
                    :request-timeout 1000}}}

