{:simulator {}
 :dht {:curator {:num-threads 8
                 :executor {}}
       :max-hops 15
       :request-timeout 2000
       :contacts {:ping {:period 5000
                         :timeout 4000}
                  :stabilization {:period 8000
                                  :exponent-step-factor 1.03}}
       :storage {:max-ttl 3600000
                 :default-ttl 600000
                 :expired-cleanup-period 1000}
       :trie {:upcast-period 4000
              :node-ttl 15000
              :expired-cleanup-period 1000}}
 :cluster {:node {:num-threads 8
                  :executor {}
                  :tcp {}
                  :ping-period 4000}}}
